*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.outer-box{
    width: 100vw;
    height:120vh;
    background: linear-gradient(to top left,rgb(243, 198, 198),rgb(143, 143, 221));

}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 25%;
    padding: 20px 40px;
    background: linear-gradient(to top left,#ffffffff,#ffffff33);
    border-radius: 8px;
    box-shadow: 2px 2px 5px ;
    z-index: 2;
    backdrop-filter: blur(8px);
}
.signup-header h1{
    font-size: 2.5rem;
    color: rgb(90, 89, 89);

}
.signup-header p{
    font-size: .8rem;
    color: #787575;

}
.signup-body{
    margin: 20px 0;

}
.signup-body p{
    margin: 10px 0;

}
.signup-body p label{
    display: block;
    font-weight: bold;
}
.signup-body p input{
    width: 100px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-body p input[type=submit]{
     background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;

}
.signup-body p input[type=submit]:hover{
    background-color: #045488;
}
.signup-footer p{
color: #555;
text-align: center;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background:linear-gradient(to top right,#ffffff33,#ffffffff);
    position: absolute;
}
.c1{
    top: 100px;
    left: 50px;
}
.c2{
    bottom: 200px;
    right: 50px;
}